# images extensions
*.png
*.jpg
*.dcm
*.dicom

# python files
__pycache__/

# Labels
*.xml

# data folder
data/labels_with_masks_benign_malignant
data/sample_metadata
data/semantic_labels
#Pycharm folders
/.idea

#unused scripts
#TODO: delete after development
/runs
/checkpoints
/tests