# images extensions
*.png
*.jpg
*.dcm
*.dicom

# python files
__pycache__/

# Jupyter Notebook
*.ipynb_checkpoints

# Labels
*.xml

# data folder
/data

#Pycharm folders
/.idea

#unused scripts
#TODO: delete after development
/test_scripts_and_unused
/runs
/checkpoints